<!DOCTYPE HTML>
<html>
<head>
	<title>Hidden Dinners (subject to change)</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="style.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<header>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 col-sm-12 col-xs-12">
					<h1>Hidden Dinners (subject to change)</h1>
				</div>
				<div class="col-md-2"></div>
			</div>
		</header>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<nav class="navbar navbar-inverse">
					<h2 id="nav-bar">Meny</h2>
					<ul class="nav navbar-nav" id="nav-menu">
						<li class="active"><a href="/">Start</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-md-2"></div>
		</div>
		<section>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 col-sm-12 col-xs-12">
						//TODO: Choose ingredients from a list
						//TODO: The chosen ingredients appear in a new list
						//TODO: A button to confirm search
						//TODO: A list to show results
						//TODO: Choosing a recipe opens new webpage with result (?)
				</div>
				<div class="col-md-2"></div>
			</div>
		</section>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="script.js"></script>
</body>
</html>
